<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <base href="/"/>

    <meta name="description" content="rpc app"/>

    <link rel="stylesheet"
          href="./assets/angular-material/angular-material.css">
    <link rel="stylesheet"
          href="./assets/angular-material-icons/angular-material-icons.css">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>

    <title>rpc</title>
</head>

<body ng-app="rpcApp" ng-controller="mainCtrl as home" ng-cloak>

<md-content layout-fill layout="row"
            ng-controller="authCtrl as auth">

    <div layout="column" layout-fill role="main">
        <md-toolbar layout="row" class="md-toolbar-tools">

            <!-- login -->
            <md-button class="md-icon-button"
                       ng-click="auth.login()"
                       aria-label="Login"
                       ng-show="!auth.authenticated"
                       title="Log in">
                <ng-md-icon icon="login" size="32"></ng-md-icon>
            </md-button>

            <!-- logout -->
            <md-button class="md-icon-button"
                       ng-click="auth.logout()"
                       aria-label="Logout"
                       ng-show="auth.authenticated"
                       title="Log out">
                <ng-md-icon icon="logout" size="32"></ng-md-icon>
            </md-button>

            <!-- TODO user name -->
            <!--<div ng-show="auth.authenticated">-->
                <!--Logged in as: <span ng-bind="auth.user"></span>-->
            <!--</div>-->

        </md-toolbar>

        <!-- content -->
        <md-content flex id="content" md-scroll-y>
<!--            <div ng-view layout="column" layout-fill layout-padding
                 ng-show="authenticated">
            </div>-->
        </md-content>
    </div>

</md-content>

<script type="text/javascript" src="./assets/jquery/dist/jquery.js"></script>

<!-- Angular Material requires Angular.js Libraries -->
<script type="text/javascript" src="./assets/angular/angular.js"></script>
<script type="text/javascript"
        src="./assets/angular-animate/angular-animate.js"></script>
<script type="text/javascript"
        src="./assets/angular-aria/angular-aria.js"></script>
<script type="text/javascript"
        src="./assets/angular-messages/angular-messages.js"></script>

<!-- Angular Material Library -->
<script type="text/javascript"
        src="./assets/angular-material/angular-material.js"></script>

<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script> -->
<script type="text/javascript"
        src="./assets/angular-material-icons/angular-material-icons.js"></script>

<script type="text/javascript"
        src="./assets/angular-route/angular-route.js"></script>

<script type="text/javascript" charset="utf-8" src="./app/app.js"></script>
<script type="text/javascript" charset="utf-8" src="./app/auth.js"></script>
<script type="text/javascript" charset="utf-8" src="./app/pages/main.js"></script>

</body>
</html>