html {
	position: relative;
	min-height: 100%;
}

body {
	/* min-height: 200px; */
	/* padding for navbar */
	padding-top: 70px;
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.main {
	padding: 30px;
	border-radius: 6px;
	border: 1px solid #eee;
	min-height: 600px;
}

footer {
	position: absolute;
	bottom: 0;
	/* fixed height of the footer */
	height: 60px;
	width: 100%;
}

footer>.container {
	
}

footer>.container>p {
	text-align: center;
	/* line-height: 60px; */
	margin: 0;
	text-align: center;
	vertical-align: middle;
}